html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font: 14px "PT Sans", Arial, Helvetica, sans-serif;
  color: #fff; }

.container {
  max-width: 1092px;
  min-width: 819px;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.text-normal {
  font-weight: normal; }

.text-bold {
  font-weight: bold; }

.black {
  color: #000; }

.normal {
  font-weight: normal; }

.mt-1 {
  margin-top: 14px; }

.mt-2 {
  margin-top: 28px; }

.mt-3 {
  margin-top: 42px; }

.mt-4 {
  margin-top: 56px; }

.mt-5 {
  margin-top: 70px; }

.mt-6 {
  margin-top: 84px; }

.mt-7 {
  margin-top: 98px; }

.mt-8 {
  margin-top: 112px; }

.mt-9 {
  margin-top: 126px; }

.mt-10 {
  margin-top: 140px; }

.mt-11 {
  margin-top: 154px; }

.mt-12 {
  margin-top: 168px; }

.row > .col-1 {
  width: 7.32601%;
  margin-right: 1.0989%; }

.row > .col-2 {
  width: 15.75092%;
  margin-right: 1.0989%; }

.row > .col-3 {
  width: 24.17582%;
  margin-right: 1.0989%; }

.row > .col-4 {
  width: 32.60073%;
  margin-right: 1.0989%; }

.row > .col-5 {
  width: 41.02564%;
  margin-right: 1.0989%; }

.row > .col-6 {
  width: 49.45055%;
  margin-right: 1.0989%; }

.row > .col-7 {
  width: 57.87546%;
  margin-right: 1.0989%; }

.row > .col-8 {
  width: 66.30036%;
  margin-right: 1.0989%; }

.row > .col-9 {
  width: 74.72527%;
  margin-right: 1.0989%; }

.row > .col-10 {
  width: 83.15018%;
  margin-right: 1.0989%; }

.row > .col-11 {
  width: 91.57509%;
  margin-right: 1.0989%; }

.row > .col-12 {
  width: 100.0%;
  margin-right: 1.0989%; }

.row > .col-1:last-child {
  margin-right: 0px; }

.row > .col-2:last-child {
  margin-right: 0px; }

.row > .col-3:last-child {
  margin-right: 0px; }

.row > .col-4:last-child {
  margin-right: 0px; }

.row > .col-5:last-child {
  margin-right: 0px; }

.row > .col-6:last-child {
  margin-right: 0px; }

.row > .col-7:last-child {
  margin-right: 0px; }

.row > .col-8:last-child {
  margin-right: 0px; }

.row > .col-9:last-child {
  margin-right: 0px; }

.row > .col-10:last-child {
  margin-right: 0px; }

.row > .col-11:last-child {
  margin-right: 0px; }

.row > .col-12:last-child {
  margin-right: 0px; }

.row > .offset-1 {
  margin-left: 8.42491%; }

.row > .offset-2 {
  margin-left: 16.84982%; }

.row > .offset-3 {
  margin-left: 25.27472%; }

.row > .offset-4 {
  margin-left: 33.69963%; }

.row > .offset-5 {
  margin-left: 42.12454%; }

.row > .offset-6 {
  margin-left: 50.54945%; }

.row > .offset-7 {
  margin-left: 58.97436%; }

.row > .offset-8 {
  margin-left: 67.39926%; }

.row > .offset-9 {
  margin-left: 75.82417%; }

.row > .offset-10 {
  margin-left: 84.24908%; }

.row > .offset-11 {
  margin-left: 92.67399%; }

.header {
  max-width: 100%;
  max-height: 100%;
  background: url(../img/background1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; }

.display {
  min-width: 900px;
  min-height: 900px;
  height: 100vh;
  width: 100%; }

#top {
  background: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px; }
  .img-logo .domen {
    margin-left: 10px; }

#logo .topcenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 1%;
  font-weight: bold;
  text-align: center; }

.toptitle {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 1%; }

#input-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 10px;
  z-index: 20;
  -webkit-transition: border-color 0.1s;
  -o-transition: border-color 0.1s;
  transition: border-color 0.1s;
  border: 2px solid transparent;
  height: 82px;
  padding: 0 15px; }
  #input-top.input-error {
    border-color: #ad6c6c; }
  #input-top .block-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.intop {
  font-size: 1em;
  border: none;
  outline: none; }

#button-check {
  font-size: 1.5em;
  color: white;
  background-color: #5f6062;
  border-radius: 5px;
  border: none;
  height: 50px;
  outline: none;
  padding: 10px 30px; }

#button-check:hover {
  border: 1px solid silver; }

#return {
  border-radius: 10px;
  background-color: #333333;
  opacity: 0.902;
  position: relative;
  z-index: 19;
  color: #ffffff;
  text-align: center;
  padding-top: 2em;
  margin-top: -28px; }

#action {
  color: #77b53c;
  text-decoration: underline; }

.btn-create-acc {
  padding: 0.75em 2.5em 0.75em 2.5em;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #77b53c;
  border-radius: 5px;
  border: none;
  font-weight: bold; }

.create-acc-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5em; }

.svgdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 20px; }

.down:hover {
  content: url(..//img/down@2x.png); }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 45%;
  height: 0px;
  z-index: 20;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.circle {
  margin-right: 2em;
  margin-top: 1em;
  min-height: 0.7em;
  min-width: 0.7em;
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  border: 1px solid #000; }

.here {
  border: 1px solid #fff;
  background-color: #000; }

#features {
  max-width: 100%;
  max-height: 100%; }

#logo-middle .text {
  text-align: left;
  margin-left: 3%;
  padding-bottom: 1%;
  font-weight: normal; }

#title-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
  font-size: 1.05em; }

#bottom {
  background: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

#logo-bottom .text {
  text-align: left;
  margin-left: 3%;
  padding-bottom: 1%;
  font-weight: bold; }

.title-bottom {
  font-size: 1.1em;
  text-align: center;
  margin-top: 3em; }

.bottom {
  font-size: 1.75em;
  text-align: center; }

.footer {
  line-height: 1.2;
  max-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #df4a5e;
  font-size: 22px;
  margin-top: 2em;
  border-radius: 5px;
  padding: 10px 30px; }
  .footer .plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

input.input-error {
  border: 1px solid red; }

.footer > div a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff; }

.count {
  font-size: 50px;
  position: relative;
  padding-left: 60px;
  text-align: center;
  padding-left: 85px; }
  .count:before {
    content: "";
    position: absolute;
    opacity: 0.2;
    width: 2px;
    height: 70px;
    background-color: white;
    left: 40px;
    top: 15px; }

.copy {
  margin-top: 50px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5; }
  .copy span {
    text-decoration: underline; }
  .copy a {
    color: #ffffff; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333;
  position: relative; }
  .list-item h3 {
    font-weight: normal;
    font-size: 20px;
    text-align: center; }
  .list-item .description {
    border: 1px solid #5f6062;
    background-color: #f7f7f7;
    position: absolute;
    min-width: 400%;
    opacity: 0;
    padding: 15px 42px 15px 42px;
    border-radius: 10px;
    text-align: left;
    color: #333;
    display: none; }
    .list-item .description.show {
      display: block;
      margin-top: 20px;
      position: relative;
      opacity: 1;
      margin-bottom: 20px; }

.jcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.right-1 {
  right: 100%; }

.right-2 {
  right: 200%; }

.right-3 {
  right: 300%; }

.list-item > img {
  width: 33.33333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }
