@import "variables";
@import "mixin";
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
box-sizing: inherit;
}
body{
    font: 14px "PT Sans", Arial, Helvetica, sans-serif;
    color: #fff;
}
.container {
    max-width: 1092px;
    min-width: 819px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.text-normal{
    font-weight: normal;
}
.text-bold{
    font-weight: bold;
}
.black{
    color: #000;
}
.normal{
    font-weight: normal;
}

@for $i from 1 through 12 {
    .mt-#{$i}{
        margin-top: 14px * $i;
    }
}
@for $i from 1 through 12 {
    .row > .col-#{$i} {
        width: ($width_col*$i) + ($margin-right-col * ( $i - 1 ));
        margin-right: $margin-right-col ;
     }
}
@for $i from 1 through 12{
    .row > .col-#{$i}:last-child {
        margin-right: 0px;
    }
}
@for $i from 1 through 11{
    .row > .offset-#{$i}{
        margin-left: ($width_col + $margin-right-col) * ($i);
    }
}
.header{
    max-width: 100%;
    max-height: 100%;
    background: url(../img/background1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom
}
.display{
    min-width: 900px;
    min-height: 900px;
    height: 100vh;
    width: 100%;
}
#top{
    background: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.img-logo{
    display: flex;
    align-items: center;
    margin-top:15px;
    .domen{
        margin-left: 10px;
    }
}
#logo .topcenter{
    justify-content: center;
    position: relative;
	text-transform: uppercase;
    color: #ffffff;
    padding-top: 1%;
    font-weight: bold;
    text-align: center;
}
.toptitle{
    text-align: center;
    font-size: 2.8rem;
    margin-top: 1%;
}
#input-top{
    display: flex;
    background: white;
    border-radius: 10px;
    z-index: 20;
    transition: border-color 0.1s;
    border: 2px solid transparent;
    height: 82px;
    padding: 0 15px;
    &.input-error{
        border-color: #ad6c6c;
    }
    .block-button{
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
.intop{
    font-size: 1em;
    border: none;
    outline: none;
}
#button-check{
    font-size: 1.5em;
    color: white;
    background-color: #5f6062;
    border-radius: 5px;
    border: none;
    height: 50px;
    outline: none;
    padding: 10px 30px;
}
#button-check:hover{
    border: 1px solid silver;
}

#return{
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
    opacity: 0.902;
    position: relative;
    z-index: 19;
    color: #ffffff;
    text-align: center;
    padding-top: 2em;  
    margin-top: -28px;
}
#action{
    color: #77b53c;
    text-decoration: underline;
}
.btn-create-acc{
    padding: 0.75em 2.5em 0.75em 2.5em;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #77b53c;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.create-acc-top{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.svgdown{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

.down:hover{
    content: url(..//img/down@2x.png);
}
.navigation{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 45%;
    height: 0px;
    z-index: 20;
    align-items: flex-end;

}
.circle{
    margin-right: 2em;
    margin-top: 1em;
    min-height: 0.7em;
    min-width: 0.7em;
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000;
}
.here{
    border: 1px solid #fff;
    background-color: #000;
}
#features{
    max-width: 100%;
    max-height: 100%;
}
#logo-middle .text{
    text-align: left;
    margin-left: 3%;
    padding-bottom: 1%;
    font-weight: normal;
}
#title-middle{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-size: 1.05em;
}
#bottom{
    background: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
#logo-bottom .text{
    text-align: left;
    margin-left: 3%;
    padding-bottom: 1%;
    font-weight: bold;

}
.title-bottom{
    font-size: 1.1em;
    text-align: center;
    margin-top: 3em;
}
.bottom{
    font-size: 1.75em;
    text-align: center;
}
.footer{
    line-height: 1.2;
    max-height: 115px;
    display: flex;
    background-color: #df4a5e;
    font-size: 22px;
    margin-top: 2em;
    border-radius: 5px;
    padding: 10px 30px;
    .plus{
        display: flex;
        position: relative;
        align-items: center;
    }
}
input.input-error{
    border: 1px solid red
}
.footer>div a{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
.count{
    font-size: 50px;
    position: relative;
    padding-left: 60px;
    text-align: center;
    padding-left: 85px;
    &:before{
        content: "";
        position: absolute;
        opacity: 0.2;
        width: 2px;
        height: 70px;
        background-color: white;
        left: 40px;
        top: 15px;
    };

}
.copy{
    margin-top: 50px;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.5;//special for IE11 else #ffffff50
    & span{
        text-decoration: underline;
    }
    & a{
        color: #ffffff; 
    }
}
.list-item{
    display: flex;
    flex-direction: column;
    color: #333;
    position: relative;
    & h3{
        font-weight: normal;
        font-size: 20px;
        text-align: center;
    }
    & .description{
        border:1px solid rgb(95, 96, 98);
        background-color: rgb(247, 247, 247);
        position: absolute;
        min-width: 400%;
        opacity: 0;
        padding: 15px 42px 15px 42px;
        border-radius: 10px;
        text-align: left;
        color: #333;
        display: none;
        &.show{
            display: block;
            margin-top: 20px;
            position: relative;
            opacity: 1;
            margin-bottom: 20px;
        }

    }
}
.jcc{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.right-1{
    right: 100%;
}
.right-2{
    right: 200%;
}
.right-3{
    right: 300%;
}
// special for IE11
.list-item>img{
    width: 33.33333333%;
    display: flex;
    margin: 0 auto;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
